@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Neuton:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --global-font-family: Montserrat, Neuton;
    --global-text-color-black: #1E1E1E;
    --global-primary-title-size: 2rem;
    --global-color-primary-blue: #67AEF4;
    --global-color-secondary-green: rgb(9, 206, 40, 0.7);
    --global-color-background-grey: #F3F4F5;
    --global-color-highlight-white: #FFFFFF;
    --global-color-warning-amber: rgba(237, 91, 1, 0.7);
    --global-color-warning-red: rgba(255, 0, 0, 0.7);
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--global-font-family);
    height: 100vh;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--global-text-color-black);
    background-color: var(--global-color-background-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .header {
    margin: 25px 0;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    width: 95%;
    max-width: 1000px;
    min-width: fit-content;
  }


  .stats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 36px 16px;
    width: 100%;
  }

  .time, 
  .level, 
  .question {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;
    width: fit-content;
    max-width: 25vw;
    max-height: fit-content;
    background-color: var(--global-color-background-grey);
  }

  .stat {
    padding: 0 2rem;
  }

  .white-container{
    background-color: var(--global-color-highlight-white);
    border-radius: 16px;
    padding: 16px 48px;
    width: 95%;
    max-width: 1000px;
    margin: 16px;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.25);
  }

  .green-container{
    background-color: var(--global-color-secondary-green);
    border-radius: 16px;
    width: fit-content;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.25);
  }

  .green-container p{
    color: var(--global-color-background-grey);
  }

  #percentage {
    padding: 28px 32px;
  }

  .neomorphic {
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.25);
    border-radius: 16px;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
   

  .sum {
    background-color: var(--global-color-primary-blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px 0px;
    margin: 2rem 0;
  }

  .sum span {
    color: var(--global-color-background-grey);
    font-size: 1.5rem;
    padding: 0 0.25rem;
  }

  .answer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 0;
    background-color: var(--global-color-background-grey);
  }

  .answer-and-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    margin: 2rem 0;
  }

  .answer input {
    width: 100%;
    min-height: 15vh;
    padding: 0.5rem;
    border: 1px solid var(--global-color-primary-blue);
    border-radius: 8px;
    font-size: 1.5rem;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #submit {
    background-color: var(--global-color-primary-blue);
    border: none;
    min-height: 5vh;
    color: var(--global-color-highlight-white);
    font-family: var(--global-font-family);
    font-size: 1rem;
    padding: 1rem 0;
    width: 50%;
    align-self: center;
    margin: 2rem 0;
  }
  

  @media all and (max-width: 1000px) {

    .stats{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 36px 16px;
      width: 95%;
    }

  .time, 
  .level, 
  .question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0.5rem 0;
    padding: 1rem 2rem;
    width: 95%;
    max-width: 90vw;
    max-height: fit-content;
    background-color: var(--global-color-background-grey);
  }

  .green-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--global-color-secondary-green);
    border-radius: 16px;
    width: 95%;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.25);
    max-height: fit-content;
  }

  .white-container{
    padding: 4px 16px;
    margin: 0px 16px;
  }

  .header{
    margin: 4px 16px;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .sum {
    margin: 0;
    width: 100%;
    align-items: center;
  }

  .form {
    width: 95%;
  }

  .answer-and-input{
    margin: 0;
    justify-content: center;
  }

  #answer {
    min-height: 10vh;
    width: 100%;
  }

  }